// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Local
.menu-bg {
    background: linear-gradient(45deg, #d31c39, #5091c2);
}
.menu-bg-admin {
    background: url(public/images/bg15.png) ;
}

.menu-bg:hover {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.075);
}

.nav-link-white {
    color: #c9c9c9;
}
.nav-link-white:hover{
    color: #e8e8e8;
}
.nav-link-white.active{
    color: #ffffff;
}
.breadcrumb-m{
    margin-top: -1rem;
}
.alert-secondary-inv {
    background-color: #e2e2e2;
    color: #4d4d4d;
}

.alert-secondary-inv:hover {
    color: #e2e2e2;
    background-color: #4d4d4d;
}
